@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
 
$green-color: #B5CA00;
$back-color: #CBC6C6;

%form-fields {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    max-width: 360px;
    width: 100%;
    height: 50px;
    padding-left: 24px;
}

%often-font {
    font-weight: 300;
    color: $back-color;
    font-size: 1.125rem;
}

%title-font {
    font-size: 2.5rem;
    color: #000000;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}
body, p, h1, h2, h3, h5 {
    margin: 0;
}

input {
    outline-style: none;
}

.body {
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #000;
}

button {
    border: none;
}

header {
    width: 100%;
    max-width: 1440px;
    height: 532px;
    position: relative;

    .header-picture {
        background-image: url(img/header-picture.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        max-width: 874px;
        height: 532px;
        position: absolute;
        right: 0;
    }
}

.title {
    position: absolute;
    width: 350px;
    left: 13%;
    top: 164px;
    z-index: 20;
    p {
        font-weight: 700;
        font-size: 1.25rem; 
        color: $green-color;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 47px;
        margin: 30px 0;
        font-weight: normal;
    }
}

.btn-and-logo {
    position: absolute;
    z-index: 20;
    left: 13%;
    top: 391px;

    img {
        display: none;
    }
}

.green-btn {
    width: 295px;
    height: 60px;
    background: $green-color;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.125rem;
    color: #FFFFFF;
    cursor: pointer;
}

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    background-color: #999998;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0 10px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        max-width: 470px;
        width: 100%;
        height: 585px;
        background: #C4C4C4;
        border-radius: 10px;

        .div-btn {
            max-width: 360px;
            width: 100%;
        }

        button {
            width: 100%;
            padding: 0 20px;
        }
    }
}

.block {
    max-width: 360px;
    width: 100%;

    p {
        color: #FFFFFF;
        font-size: 1.125rem;
        margin: 15px 0 10px 0;
    }

    .field {
        @extend %form-fields;
        font-size: 1.125rem;
        &::placeholder {
            @extend %often-font;
        }
    }
    .phone {
        position: relative;
        &::before {
            content: "♥";
            display: block;
            background-image: url(img/line.png);
            height: 50px;
            width: 1px;
            position: absolute;
            left: 50px;
            top: 0;
        }

    }
}

.selection {
    position: relative;

    &[data-state="active"] {
        .list {
            display: flex;
        }
        .list label:hover {
            background-color: #f1f1f1;
        }
        .default::after {
            transform: rotate(180deg);
            transition: all .2s ease;
            right: 28px; 
        }
    }

    .default {
        @extend %form-fields;
        @extend %often-font;
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            display: block;
            position: absolute;
            background-image: url(img/arrow.svg);
            background-repeat: no-repeat;
            width: 28px;
            height: 20px;
            right: 25px;
            transition: all .2s ease;
        }
    }

    .list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 5px;
        right: 5px;
        max-width: 350px;
        width: 100%;
        transition: all 0.3s ease-out;
        z-index: 5;
    }

    .list label {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        height: 50px;
        padding-left: 30px;
        border-top: none;
        cursor: pointer;

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    input {
        display: none;
    }
}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 470px;
    width: 100%;
    margin: 0 15px;
    height: 256px;
    padding: 0 14px;
    background: #C4C4C4;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 15px;
        text-align: center;
    }

    p {
        font-size: 1.125rem;
        text-align: center;
    }
}

.content {
    padding: 60px 13%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @extend %title-font;
        margin-bottom: 50px;
    }
}

.features {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .feature {
        width: 22%;
        .feat-img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
        }

        h3 {
            color: #000000;
            font-size: 1.45rem;
            font-weight: normal;
            margin: 30px 0 10px 0;
        }

        .red-line {
            width: 94px;
            border-top: 1px solid #F6C6CF;
        }

        p {
            margin-top: 10px;
        }
    }
}

.survey-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .announcement{
        padding: 40px 13%;
        display: flex;
        align-items: flex-end;
        h2{
            @extend %title-font;
            margin: 0 20px;
        }
    }
}

.survey {
    padding: 95px 13% 0 13%;
    background: #8664C6;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 502px;

    .human {
        flex: 1;
    }

    form {
        flex: 4;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 840px;
        width: 100%;
        position: relative;

        .block:nth-child(2n+1) {
            margin-right: 20px;
        }
    }

    .green-btn {
        position: absolute;
        right: 0;
        bottom: -99px;
    }
}

footer {
    h2 {
        @extend %title-font;
    }

    .answers {
        margin: 60px 0;
        h5 {
            font-weight: normal;
            font-size: 1.45rem;
            color: #000000;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 35px;
        }
    }
}
