@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.block .field, .selection .default {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-width: 360px;
  width: 100%;
  height: 50px;
  padding-left: 24px;
}

.block .field::-webkit-input-placeholder, .selection .default {
  font-weight: 300;
  color: #CBC6C6;
  font-size: 1.125rem;
}

.block .field:-ms-input-placeholder, .selection .default {
  font-weight: 300;
  color: #CBC6C6;
  font-size: 1.125rem;
}

.block .field::-ms-input-placeholder, .selection .default {
  font-weight: 300;
  color: #CBC6C6;
  font-size: 1.125rem;
}

.block .field::placeholder, .selection .default {
  font-weight: 300;
  color: #CBC6C6;
  font-size: 1.125rem;
}

.content h1, .survey-block .announcement h2, footer h2 {
  font-size: 2.5rem;
  color: #000000;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, p, h1, h2, h3, h5 {
  margin: 0;
}

input {
  outline-style: none;
}

.body {
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  color: #000;
}

button {
  border: none;
}

header {
  width: 100%;
  max-width: 1440px;
  height: 532px;
  position: relative;
}

header .header-picture {
  background-image: url(img/header-picture.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 874px;
  height: 532px;
  position: absolute;
  right: 0;
}

.title {
  position: absolute;
  width: 350px;
  left: 13%;
  top: 164px;
  z-index: 20;
}

.title p {
  font-weight: 700;
  font-size: 1.25rem;
  color: #B5CA00;
}

.title h1 {
  font-size: 2.5rem;
  line-height: 47px;
  margin: 30px 0;
  font-weight: normal;
}

.btn-and-logo {
  position: absolute;
  z-index: 20;
  left: 13%;
  top: 391px;
}

.btn-and-logo img {
  display: none;
}

.green-btn {
  width: 295px;
  height: 60px;
  background: #B5CA00;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1.125rem;
  color: #FFFFFF;
  cursor: pointer;
}

.popup {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #999998;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.popup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 470px;
  height: 585px;
  left: 503px;
  top: 20%;
  background: #C4C4C4;
  border-radius: 10px;
}

.popup form button {
  width: 360px;
}

.block {
  max-width: 360px;
  width: 100%;
}

.block p {
  color: #FFFFFF;
  font-size: 1.125rem;
  margin: 15px 0 10px 0;
}

.block .field {
  font-size: 1.125rem;
}

.block .phone {
  position: relative;
}

.block .phone::before {
  content: "♥";
  display: block;
  background-image: url(img/line.png);
  height: 50px;
  width: 1px;
  position: absolute;
  left: 50px;
  top: 0;
}

.selection {
  position: relative;
}

.selection[data-state="active"] .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selection[data-state="active"] .list label:hover {
  background-color: #f1f1f1;
}

.selection[data-state="active"] .default::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  right: 28px;
}

.selection .default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  position: relative;
  cursor: pointer;
}

.selection .default::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url(img/arrow.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 20px;
  right: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.selection .list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50px;
  left: 5px;
  max-width: 350px;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.selection .list label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  height: 50px;
  padding-left: 30px;
  border-top: none;
  cursor: pointer;
}

.selection .list label:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.selection input {
  display: none;
}

.success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 470px;
  height: 256px;
  padding: 0 14px;
  left: 503px;
  top: 213px;
  background: #C4C4C4;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight: bold;
}

.success h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.success p {
  font-size: 1.125rem;
}

.content {
  padding: 60px 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content h1 {
  margin-bottom: 50px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.features .feature {
  width: 22%;
}

.features .feature .feat-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.features .feature h3 {
  color: #000000;
  font-size: 1.45rem;
  font-weight: normal;
  margin: 30px 0 10px 0;
}

.features .feature .red-line {
  width: 94px;
  border-top: 1px solid #F6C6CF;
}

.features .feature p {
  margin-top: 10px;
}

.survey-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.survey-block .announcement {
  padding: 40px 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.survey-block .announcement h2 {
  margin: 0 20px;
}

.survey {
  padding: 95px 13% 0 13%;
  background: #8664C6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 502px;
}

.survey .human {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.survey form {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 840px;
  width: 100%;
  position: relative;
}

.survey form .block:nth-child(1), .survey form .block:nth-child(3) {
  margin-right: 20px;
}

.survey .green-btn {
  position: absolute;
  right: 0;
  bottom: -99px;
}

footer .answers {
  margin: 60px 0;
}

footer .answers h5 {
  font-weight: normal;
  font-size: 1.45rem;
  color: #000000;
  margin-bottom: 10px;
}

footer .answers p {
  margin-bottom: 35px;
}
/*# sourceMappingURL=style.css.map */